services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: app_db
      MYSQL_USER: user_admin
      MYSQL_PASSWORD: user_pass
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend
  php:
    build: ./php
    volumes:
      - ./src:/var/www/html
    networks:
      - backend
      - frontend
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - frontend
    depends_on:
      - php

networks:
  frontend:
  backend: 

volumes:
  db_data:
